@import '@/qunar/reset.scss';

.titles1 {
  @include rect(100%, auto);
  @include flexbox();
  @include justify-content(space-between);
  @include align-items();
  background: #fff;
  padding: .17rem .1rem;
  margin-top:.1rem;
  h3 {
    @include rect(1rem, .34rem);
    line-height: .34rem;
    color: #333;

  }
  a {
    color: #666;
  }
}

