@import '@/qunar/reset.scss';



.listBox {
  background: #fff;
  margin-top:.1rem;
  border-top: 1px solid #ccc;
  padding: 0 .2rem;
  .sort {
    @include rect(100%, .45rem);
    border-bottom: .01rem solid #ccc;
    color:#999;
    ul {
      @include rect(100%, .45rem);
      @include flexbox();
      @include justify-content(space-around);
      @include flex-direction();
      @include align-items();
      li {
        i {
          margin-left:.03rem;
          font-size: .12rem;
        }
      }
      
    }
  }
 
  .movielist {
    @include rect(100%, auto);//width:100%,height:auto
    @include flexbox();
    @include justify-content(space-around);
    @include flex-direction();
    @include flex-wrap(wrap);
  
    a {
      @include rect(45%, auto);
      @include flexbox();
      @include justify-content();
      @include align-items();
      @include border(1px, #ddd, solid);
      @include margin();
      padding-top: 0.06rem;
      border-radius: .1rem;
      color:#000;
      .movegoods{
      @include padding(0.05rem);
      @include justify-content();
      @include align-items();
      @include rect(100%, auto);
      text-align: center;
        h4 {
        @include rect(100%, auto);
        @include overflow();
        border-radius: .03rem;
          img{
            @include rect(auto, 1.16rem);
            border-radius: .03rem;
          }
        }
        p{
          margin-top: .05rem;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
        }
        span {
          margin-left: .1rem;
        }
      }
      .info {
        @include flex();
      }
  
      @include border(0 0 1px 0, #ccc, solid); // 1px边框实现
    }
  }
}