@import '@/qunar/reset.scss';
.refisterTop{
    height:100%;
    background-color:#ddd;
}
.top {
    color: #444;
    margin:0 .5rem;
    margin-top:26px;
    width:100%;
}
.page-title {
    display: inline-block;
    font-size: 0.2rem;
    text-align: center;
    margin-left:25%;
    margin-top:.1rem;
}
#down{
    color:#000;
    border:none;
}
.am-input-label-5{
    width:.9rem;
}
.am-list-item select{
    width:.66rem;
    font-size:.16rem;
    display:inline;
    text-align:center;
}
.arrow-icon {
    color: #444;
    float: none;
    font-size: .3rem;
}
.protocol{
    width:100%;
    margin:.1rem 0;
    @include text-align();
}

.a1{
    display:inline-block;
    color:red;
    font:.12rem/.2rem "";
    margin-right:.06rem;
    border-bottom:.01rem solid red;
}
input{
    border: none;
}
.registercontent{
    background-color: #F5F5F9;
}
//.backcolor{
//    color: #333;
//}
